@model Thyme.Web.ViewModels.Front_vm
@using Thyme.Web.Models

@{
    ViewBag.PageTitle = "Phil Campbell";
    ViewBag.PageSubHeading = "I'm kind of amazed you're even here.";
    ViewBag.Title = "DevTxt - Phil Campbell";
}
 <div class="col-md-10 col-md-offset-1">
    @Html.Partial("_PostList", Model.RecentBlogPosts)
    <script>
        $("article.clearfix:last").addClass("last");
    </script>
</div>