@model Thyme.Web.ViewModels.PostsWithTag_vm
@{
    ViewBag.Title = "Blog Posts tagged '"+Model.Tag+' - Tech Blog - Phil Campbell";
}
<h3 id="postTitle">@Model.Posts.Count() blog posts tagged with '@Model.Tag'</h3>
<ul class="postList">
    @foreach (var item in Model.Posts)
    {
        @Html.Partial("_PostList", item)
    }
</ul>
<br />
@Html.RouteLink("View All Posts","AllPosts")
<script type="text/javascript">
    document.getElementById('searchText').select();
</script>