@model Thyme.Web.ViewModels.Search_vm
@{
    ViewBag.Title = "Search Results: '{0}' - Tech Blog - Phil Campbell".FormatWith(Model.SearchKeywords);  
}
<h3 id="postTitle">@Model.MatchingBlogPosts.Count() blog posts matched your search for '@Model.SearchKeywords'</h3>
<ul class="postList">
    @foreach (var item in Model.MatchingBlogPosts)
    {
        @Html.Partial("_PostList",item)        
    }
</ul>
<br />
@Html.RouteLink("View All Posts","AllPosts")
<script type="text/javascript">
    document.getElementById('searchText').select();
</script>