@model Thyme.Web.ViewModels.BlogPost_vm

@{
    ViewBag.Title = Model.BlogPost.Title;  
}
<h1>@Html.RouteLink(Model.BlogPost.Title, "BlogPost", new { slug = Model.BlogPost.UrlSlug })</h1>
<h4>@Model.BlogPost.PublishedOn.PrettyFormat()</h4>
@Html.Markdown(Model.BlogPost.Body)
<br />
<h3>Comments?</h3>
@Html.Partial("_TweetComment")