<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="GitHubRepo" value="blog" />
    <add key="GitHubOwner" value="philoushka" />
    <add key="BlogSiteName" value="DevTxt" />
    <add key="BlogFilesDir" value="BlogFiles" />
    <add key="GitHubOAuthToken" value="097e80bbd011145ef3e7a02b8fe272eda465a5d9" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>