@{
    ViewBag.Title = "About Me";
}
<h2>About Me</h2>
<p>This blog is meant to exercise my writing and documentation skills. It's not meant to be read by anybody.</p>
<p>I'm a software developer. I like learning new things and new ways of doing things.</p>
<h3>Contributions At StackOverflow</h3>
<p>

    @if (ViewBag.StackOverflowUserNumber != "")
{
    <a href="http://stackoverflow.com/u/@(ViewBag.StackOverflowUserNumber)">
        <img src="http://stackoverflow.com/users/flair/@(ViewBag.StackOverflowUserNumber).png" width="208" height="58">
    </a>
}
</p>