@{
    ViewBag.Title = "About Me";
}
<h2>About Me</h2>
<p>This blog is meant to exercise my writing and documentation skills. It's not meant to be read by anybody.</p>
<p>I'm a software developer. I like learning new things and new ways of doing things.</p>
<h3>Contributions At StackOverflow</h3>
<p>
    <a href="http://stackoverflow.com/u/23199/">
        <img src="http://stackoverflow.com/users/flair/23199.png" width="208" height="58" alt="profile for Phil Campbell at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for p.campbell at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</p>