@{
    ViewBag.Title =  "About Me - " + ViewBag.MyName;
}

<div class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-sm-9 col-md-8 ">
            <div class="post-intro">I'm a softare developer in Kelowna, BC, Canada. I'm constantly learning new technologies, tools, patterns, and practices in software development.</div>
            <p>I've been a developer in the Microsoft stack since 1999.</p>
            <h3>Contributions/Projects</h3>
            <h4>Stack Overflow</h4>
            <p>
                @if (ViewBag.StackOverflowUserNumber != "")
                {
                    <a href="http://stackoverflow.com/u/@(ViewBag.StackOverflowUserNumber)">
                        <img src="http://stackoverflow.com/users/flair/@(ViewBag.StackOverflowUserNumber).png" width="208" height="58">
                    </a>
                }
            </p>
            <h4>Open Source Projects</h4>
            <ul>
                <li><a href="http://github.com/philoushka">GitHub</a></li>
                <li><a href="http://www.codeplex.com/site/users/view/philoushka">CodePlex</a></li>
            </ul>
            <h4>Extension Methods</h4>
            I've contributed a few <a href="http://extensionmethod.net/Author/phil-campbell">extension methods at ExtensionMethod.net</a>
            <h4>Favorite Books</h4>
            I'm not a huge reader, but I've enjoyed these books very much.
            <ul>
                <li><a href="http://www.amazon.ca/Expert-Beginner-Erik-Dietrich-ebook/dp/B00F5FVZHC/ref=sr_1_2?qid=1430171587">The Expert Beginner</a></li>
                <li><a href="http://theseniorsoftwareengineer.com/">The Senior Software Engineer</a></li>
                <li><a href="http://www.amazon.ca/Inmates-Are-Running-Asylum-Products/dp/0672326140/ref=sr_1_1?qid=1430171865">The Inmates Are Running The Asylum</a></li>
                <li><a href="http://www.amazon.ca/C-Depth-Jon-Skeet/dp/161729134X/ref=sr_1_1?qid=1430171982">C# In Depth</a></li>
                <li><a href="http://www.amazon.ca/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742/ref=sr_1_1?qid=1430172037">JavaScript: The Good Parts</a></li>
            </ul>

            <h4>Books To Read</h4>
            A quick list of books I'd like to add to the list above.
            <ul>
                <li><a href="http://www.amazon.com/Remote-Office-Not-Required/dp/0804137501">Remote: Office Not Required</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-4">
            <img src="@Fingerprint.Tag("/images/author-phil.jpg")" class="img-responsive img-circle about-portrait" alt="">
            <ul class="social-links outline text-center">
                <li><a href="http://twitter.com/@(ViewBag.TwitterAccountName)"><i class="icon-twitter"></i></a></li>
                <li><a href="https://plus.google.com/@ViewBag.GooglePlusAccountNumber?rel=author"><i class="icon-googleplus"></i></a></li>
            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164476.21493762123!2d-119.45466244961503!3d49.8999136438846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537d8cb6e3c730b3%3A0x4ef8e53ddab4c4f7!2sKelowna%2C+BC%2C+Canada!5e0!3m2!1sen!2s!4v1430111704536" width="400" height="300" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</div>



