@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    
    <div class="row">
        <div class="span4">
            <h2>Twitter</h2>
            <p>
                <a href="http://twitter.com/philoushka">http://twitter.com/philoushka</a>
            </p>
           
        </div>
         
    </div>
</div>