@model Thyme.Web.ViewModels.Front_vm
 
@{
    //ViewBag.Title = "";  
}
@section Styles{
    <link href="@Url.Content("~/Content/Front.css")" type="text/css" rel="stylesheet" />
}
<ul class="postList">
    @foreach (var item in Model.RecentBlogPosts){
    <li><span class="blogPostTitle">@Html.RouteLink(item.Title, "BlogPost", new { slug = item.UrlSlug })</span><br />
        <span class="blogPostPreview">@item.Intro</span><hr /></li>
    }
</ul>