@{
    ViewBag.Title = "GitHub Contributions";
}
<h3>My Goals In Contributing On GitHub</h3>
<p>I am actively contributing on GitHub to give back to the dev community, to help build and keep share my various team skills - communication, learning better dev practices, writing more tests, and better documentation.</p>
<h4>Collaborative Coding</h4>
<p>
    I want to level-up my dev team collaboration efforts. I'm finding myself being on a dev team of 10+ in my day job, but the work only requires 1 developer per project. I haven't pair-programmed or been on a large dev project in a while, so I'm looking for the chance to collaborate and contribute to projects with multiple developers. There are challenges with this style of work, obviously, compared to an open office environment.
</p>
<p>Recently while contributing to a GitHub repo, I realized quickly that this requires good written communication. I see the best ways to have good communication between developers:</p>
<ul>
    <li>use the project's Issues page. Log issues and questions, talk about defects, proposed changes, thoughts about directions that a feature or the product can do. Let the other contributors get to know and trust you. Learn more about their habits. Read their code and contributions.
    <li>better comments in code: adding Xml doc method headers, adding 'why?' type comments on lines of code.
    <li>popping into an IRC or Jabbr chat to discuss
</ul>
<h4>My Outlook</h4>
<p>I appreciate the chance to contribute to various projects. If we're working together, I want to help fit into the culture of the team/collaborators, and respect the existing patterns. If I can help level-up others on the project, I'm happy to do so.</p>
<p>If I contribute to your repo via a pull request for code changes or documentation, please tell me if the contribution doesn't meet your expectations or otherwise doesn't somehow jive. I want to have a positive impact. If a contribution doesn't jive, I'll modify it to bring it in line.</p>
<h4>Items I Can Help With</h4>
<ul>
    <li>creating tests for existing code
    <li>tackling issues - creating fixes for defects or adding new features
    <li>documenting - either adding quality comments or enhancing a readme, how-to, etc.
</ul>
<h4>Apologies If</h4>
I'll usually be careful and avoid commiting or sending a pull request for something that feels out of the ordinary or wouldn't reasonably meet the project owner's expectations.
If there's a case where an unintentional change happens like:
<ul>
    <li>my IDE/extension changes the indent style
    <li>my IDE/extension changes the curly brace layout
    <li>a new defect is introduced
    <li>an automated test isn't included in the pull request
    <li>anything else that makes you wtf
</ul>
Let me know via a comment on the PR, by email or by a GitHub issue. I'll correct it before you accept the pull request.
