@model Thyme.Web.ViewModels.RecentPosts_vm
@using Thyme.Web.Helpers

<h3>Recent posts</h3>
<div class="post-recent-widget">
    <div class="row">
        <div class="col-sm-12">

            @foreach (var recentPost in Model.RecentBlogPosts)
            {
                <div class="media">
                    <a class="pull-left" href="@Url.HttpRouteUrl("BlogPost", new { slug = recentPost.Slug })"><img class="media-object" src="@Fingerprint.Tag("/images/img2.jpg")" width="80" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">@Html.RouteLink(recentPost.Title, "BlogPost", new { slug = recentPost.Slug })</h4>
                        <p class="post-date">@recentPost.PostedOnDateTime.PrettyFormat()</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>