@model System.Web.Mvc.HandleErrorInfo
<h2>Oops. Something broke.</h2>
@if (Model != null)
{        
    <p>@string.Format("{0} at {1}/{2}",Model.Exception.Message, Model.ControllerName,Model.ActionName)</p>
    <div style="overflow:scroll">
        <pre>@Model.Exception.StackTrace</pre>
    </div>
}
 