
body {
    margin: auto;
    position: relative;
}

ul.postList {
    list-style: none;
    padding: 0;
}

ul.postList li span.blogPostTitle {
    color: #047;
    font-size: 17px;
    width: 550px;
    display: inline-block;
}

ul.postList li span.blogPostPreview {
    color: #888;
    font-size: 80%;
}

ul.postList li hr {
    color: #eee;
    height: 1px;
    line-height: 1px;
    border: 0;
    background-color: #eee;
    margin-top: 5px;
    margin-bottom: 5px;
}
